
<!DOCTYPE html>
<html>

<head>
  <title>Manufactor Registration</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>

  <form action="/gvt/setMuf" method="POST">
    <input type="text" name="companyname" placeholder="CompanyName" required />
    <br /><br />
    <input type="number" name="regno" placeholder="RegNo" required />
    <br /><br />
    <input type="text" name="product" placeholder="production item" required />
    <br /><br />
    <input type="text" name="place" placeholder="place" required />
    <br /><br />
    
    
    <input type="submit" value="Submit" />
  </form>
  <br /><br /><br />

  <form action="/gvt/getMuf" method="GET">
    <input type="number" name="regno" placeholder="reg No" />
    <input type="submit" value="Search" />
  </form>
  

  
</body>

</html>