<!DOCTYPE html>
<html>
  <head>
    <title>Medicine Registeration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Medicine Details</h1>
   
    MedicineBatchid: <%= val1[0] %><br>
    GenericName: <%= val1[1] %><br>
    ExpiryMonth: <%= val1[2] %><br>
    MedicinePrize: <%= val1[3] %><br>

  </body>
</html>
