<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Medicine set operation</title>
</head>
<body>
    
    <form action="/muf/setMed" method="POST">
        <input type="number" name="regno" placeholder="RegNo" required />
        <br /><br />
        <input type="number" name="batchid" placeholder="medicine batchnumber" required />
        <br /><br />
        <input type="text" name="genericname" placeholder="medicine name" required />
        <br /><br />
        <input type="number" name="month" placeholder="duration of medicine" required />
        <br /><br />
        <input type="number" name="price" placeholder="medicine price" required />
        <br /><br />
        
        <input type="submit" value="Submit" />
      </form>

      <br /><br /><br />
      <form action="/muf/getMed" method="POST">
        <input type="number" name="batchid"  placeholder="medicineBatch No" />
        <input type="number" name="regno"  placeholder="regno No" />
        <input type="submit" value="Search" />
      </form>
    
</body>
</html>